{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Sudoku Puzzle</h1>
    <table name="puzzle">
        {% for row in puzzle %}
            <tr>
                {% for cell in row %}
                    {% if cell == '0' %}
                        <td><input type="text" value="" maxlength="1"></td>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form name="reset-form" method="post" action="/reset">
        <button name="reset-button" type="submit">New Puzzle</button>
    </form>
{% endblock %}
